.alerts-dlx-icon-popover .components-popover__content>div {
	min-width: 250px;
}

.alerts-dlx-icon-picker {
	padding: 16px;
	text-align: center;
}

.alerts-dlx-icon-tab-panel {
	.components-tab-panel__tabs {
		justify-content: center;
		margin-bottom: 12px;
	}

	.components-tab-panel__tabs-item {
		font-weight: 500;
	}

	.components-tab-panel__tabs-item.is-active {
		color: var(--wp-admin-theme-color);
		box-shadow: inset 0 -2px 0 var(--wp-admin-theme-color);
	}
}

.alerts-dlx-icon-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	justify-content: center;
	max-height: 220px;
	overflow: auto;
	padding-top: 4px;
	margin: 0;
	list-style: none;

	li {
		text-align: center;
	}

	svg {
		width: 24px;
		height: 24px;
	}
}

.alerts-dlx-custom-icon-input {
	.components-button.is-primary {
		margin-top: 8px;
	}
}

.components-base-control.alerts-dlx-icon-wrapper {
	font-size: 1em;
}

.alerts-dlx-icon-preview {
	display: flex;
	justify-content: center;
	font-size: 1em;

	svg {
		width: 1.2em;
		height: 1.2em;
		margin-top: 0.175em;
	}
}

.alerts-dlx-custom-icon-preview {
	margin-bottom: 12px;

	svg {
		max-width: 48px;
		max-height: 48px;
	}
}

button.components-button.alerts-dlx-icon-preview-button {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0;
	margin: 0;
	font-size: inherit;
	line-height: 0;
}