:root {
	--alerts-dlx--success-text-color: #1e4620;
	--alerts-dlx--success-background-color: #edf7ed;
	--alerts-dlx--success-button-background-color: #1e4620;
	--alerts-dlx--success-button-background-color-hover: #295e2c;
	--alerts-dlx--success-button-text-color: #FFFFFF;
	--alerts-dlx--success-button-border-color: #FFFFFF;
	--alerts-dlx--info-text-color: #014361;
	--alerts-dlx--info-background-color: #e5f6fd;
	--alerts-dlx--info-button-background-color: #014361;
	--alerts-dlx--info-button-background-color-hover: #035e88;
	--alerts-dlx--info-button-text-color: #FFFFFF;
	--alerts-dlx--info-button-border-color: #FFFFFF;
}

/* MaterialUI Fonts */
.template-material.custom-fonts-enabled * {
	font-family: var(--alerts-dlx-material-font-family, 'Roboto', 'Helvetica', 'Arial', sans-serif);
}

/* MaterialUI Success */
.alerts-dlx-material {
	display: grid;
	grid-template-columns: 1fr;
	font-size: var(--alerts-dlx-material-base-size, 16px);
	padding: 16px;
	border-radius: 4px;
	margin: 0 auto;

	&.alerts-dlx-has-icon {
		grid-template-columns: 2.2em 1fr;
		padding-left: 0;
	}

	figcaption h2.alerts-dlx-title {
		font-size: 1.0em;
		font-weight: 500;
		line-height: 1.5em;
		margin: 0;
		padding: 0;
		margin-bottom: 0.35em;
	}
	.alerts-dlx-content p {
		font-size: 1.0em;
		font-weight: 400;
		line-height: 1.5em;
		margin: 0;
		padding: 0;
		&:not(:first-child) {
			margin-top: 0.5em;
		}
	}
}
button.button-reset,
button.button-reset.components-button {
	padding: 0.6em 0.925em;
	border-radius: 0.3125em;
	margin-top: 0.5em;
	line-height: 1.2em;
	font-size: 1.0em;
	height: auto;

	& ~ .button-reset {
		margin-top: 0.5em;
	}
}

.is-style-success {

	&.is-appearance-default {
		h2.alerts-dlx-title {
			color: var(--alerts-dlx--success-text-color);
		}
		.alerts-dlx-content p {
			color: var(--alerts-dlx--success-text-color);
		}
		.alerts-dlx-material {
			background-color: var(--alerts-dlx--success-background-color);
			color: var(--alerts-dlx--success-text-color);
	
			button.button-reset.alerts-dlx-button,
			button.button-reset.alerts-dlx-button:hover {
				color: var( --alerts-dlx--success-button-text-color);
				border: 1px solid var(--alerts-dlx--success-button-border-color);
				
				background-color: var(--alerts-dlx--success-button-background-color);
			}
			button.button-reset.alerts-dlx-button:hover {
				background-color: var(--alerts-dlx--success-button-background-color-hover);
			}

			svg, svg path {
				fill: #4caf50;
			}
		}
	}
	&.is-appearance-outlined {
		h2.alerts-dlx-title {
			color: #1e4620;
		}
		.alerts-dlx-content p {
			color: #1e4620;
		}
		.alerts-dlx-material {
			background-color: #FFFFFF;
			color: #1e4620;
			border: 2px solid #4caf50;
	
			button.button-reset.alerts-dlx-button,
			button.button-reset.alerts-dlx-button:hover {
				color: #1e4620;
				border: 2px solid #4caf50;
				background-color: #FFFFFF;
			}
			button.button-reset.alerts-dlx-button:hover {
				background-color: #2e7d32;
				color: #FFFFFF;
				border: 2px solid #2e7d32;
			}

			svg, svg path {
				fill: #4caf50;
			}
		}
	}

	&.is-appearance-filled {
		h2.alerts-dlx-title {
			color: #FFFFFF;
		}
		.alerts-dlx-content p {
			color: #FFFFFF;
		}
		.alerts-dlx-material {
			background-color: #2e7d32;
			color: #FFFFFF;
			border: 2px solid #2e7d32;
	
			button.button-reset.alerts-dlx-button,
			button.button-reset.alerts-dlx-button:hover {
				color: #2e7d32;
				border: 2px solid #2e7d32;
				background-color: #FFFFFF;
			}
			button.button-reset.alerts-dlx-button:hover {
				background-color: #2e7d32;
				color: #FFFFFF;
				border: 2px solid #FFFFFF;
			}

			svg, svg path {
				fill: #FFFFFF;
			}
		}
	}
	
}

.is-style-info {
	h2.alerts-dlx-title {
		color: var(--alerts-dlx--info-text-color);
	}
	.alerts-dlx-content p {
		color: var(--alerts-dlx--info-text-color);
	}
	.alerts-dlx-material {
		background-color: var(--alerts-dlx--info-background-color);
		color: var(--alerts-dlx--info-text-color);

		button.button-reset.alerts-dlx-button,
		button.button-reset.alerts-dlx-button:hover {
			color: var( --alerts-dlx--info-button-text-color);
			border: 1px solid var(--alerts-dlx--info-button-border-color);
			background-color: var(--alerts-dlx--info-button-background-color);
		}
		button.button-reset.alerts-dlx-button:hover {
			background-color: var(--alerts-dlx--info-button-background-color-hover);
		}

		svg, svg path {
			fill: #03a9f4;
		}
	}
}
