$white: #ffffff;

// Material colors.
$material-success-color: #1e4620;
$material-success-color-accent: #295e2c;
$material-success-color-alt: #2e7d32;
$material-success-color-bold: #4caf50;
$material-success-color-light: #edf7ed;
$material-info-color: #014361;
$material-info-color-accent: #035e88;
$material-info-color-alt: #0277bd;
$material-info-color-bold: #03a9f4;
$material-info-color-light: #e5f6fd;
$material-warning-color: #663c00;
$material-warning-color-accent: #8c5e00;
$material-warning-color-alt: #ed6c02;
$material-warning-color-bold: #ff9800;
$material-warning-color-light: #fff4e5;
$material-error-color: #5f2120;
$material-error-color-accent: #8c2d2b;
$material-error-color-alt: #d32f2f;
$material-error-color-bold: #ef5350;
$material-error-color-light: #fdeded;
// Chakra colors.
$chakra-success-color: #2d3748;
$chakra-success-color-accent: #38a169;
$chakra-success-color-alt: #3dae71;
$chakra-success-color-bold: #38a169;
$chakra-success-color-light: #c6f6d5;
$chakra-info-color: #014361;
$chakra-info-color-accent: #3182ce;
$chakra-info-color-alt: #2d75b8;
$chakra-info-color-bold: #2d76bb;
$chakra-info-color-light: #bee3f8;
$chakra-warning-color: #2d3748;
$chakra-warning-color-accent: #dd6b20;
$chakra-warning-color-alt: #b35719;
$chakra-warning-color-bold: #dd6b20;
$chakra-warning-color-light: #feebc8;
$chakra-error-color: #5f2120;
$chakra-error-color-accent: #a92525;
$chakra-error-color-alt: #d32f2f;
$chakra-error-color-bold: #ef5350;
$chakra-error-color-light: #fed7d7;

/* MaterialUI Fonts */
.template-material.custom-fonts-enabled * {
	font-family: var(
		--alerts-dlx-material-font-family,
		'Roboto',
		'Helvetica',
		'Arial',
		sans-serif
	);
}

button.button-reset,
button.button-reset.components-button {
	padding: 0.6em 0.925em;
	border-radius: 0.3125em;
	margin-top: 0.5em;
	line-height: 1.2em;
	font-size: 1em;
	height: auto;

	& ~ .button-reset {
		margin-top: 0.5em;
	}
}

/* Consolidate variants for ChakraUI options */
.alerts-dlx-chakra-variants {
	.components-button-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 8px;
		column-gap: 8px;
		justify-content: center;
		button {
			display: flex;
			justify-content: center;
			width: 100%;
		}
	}
}

.template-chakra {
	/* MaterialUI Success */
	.alerts-dlx-chakra {
		display: grid;
		grid-template-columns: 1fr;
		font-size: var(--alerts-dlx-chakra-base-size, 16px);
		padding: 0.75em 1.25em;
		border-radius: 0px;
		margin: 0 auto;

		&.alerts-dlx-has-icon {
			grid-template-columns: 3.8em 1fr;
			padding-left: 0;
		}

		figcaption h2.alerts-dlx-title {
			font-size: 1.2em;
			font-weight: 500;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			margin-bottom: 0.35em;
		}
		.alerts-dlx-content p {
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}

		button.button-reset,
		button.button-reset.components-button {
			font-size: 1.2em;
		}

		.alerts-dlx-icon-preview svg {
			width: 1.4em;
			height: 1.4em;
		}

		.alerts-dlx-icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&.is-appearance-centered {
		.alerts-dlx-chakra {
			display: block;
		}
		.alerts-dlx-icon-preview svg {
			width: 1.6em;
			height: 1.6em;
		}

		figcaption {
			text-align: center;
		}

		.alerts-dlx-button-wrapper {
			position: relative;
			flex-wrap: wrap;
			button:first-child {
				width: 100%;
				justify-content: center;
			}
			button:not(:first-child) {
				position: absolute;
				right: -35px;
			}
		}
	}

	&.is-style-success {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-success-color;
			}
			.alerts-dlx-content p {
				color: $chakra-success-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-light;
				color: $chakra-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-success-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-success-color-bold;
					fill: $chakra-success-color-bold;
				}
			}
		}

		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-success-color-bold;
			}
			
			h2.alerts-dlx-title {
				color: $chakra-success-color;
			}
			.alerts-dlx-content p {
				color: $chakra-success-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-light;
				color: $chakra-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-success-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-success-color-bold;
					fill: $chakra-success-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-success-color-bold;
			}
			
			h2.alerts-dlx-title {
				color: $chakra-success-color;
			}
			.alerts-dlx-content p {
				color: $chakra-success-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-light;
				color: $chakra-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-success-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-success-color-bold;
					fill: $chakra-success-color-bold;
				}
			}
		}

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-alt;
				color: $white;
				border: 2px solid $chakra-success-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-success-color-alt;
					border: 2px solid $chakra-success-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}

	&.is-style-info {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-info-color;
			}
			.alerts-dlx-content p {
				color: $chakra-info-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-light;
				color: $chakra-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-info-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-info-color-bold;
					fill: $chakra-info-color-bold;
				}
			}
		}

		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-info-color-bold;
			}

			h2.alerts-dlx-title {
				color: $chakra-info-color;
			}
			.alerts-dlx-content p {
				color: $chakra-info-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-light;
				color: $chakra-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-info-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-info-color-bold;
					fill: $chakra-info-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-info-color-bold;
			}

			h2.alerts-dlx-title {
				color: $chakra-info-color;
			}
			.alerts-dlx-content p {
				color: $chakra-info-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-light;
				color: $chakra-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-info-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-info-color-bold;
					fill: $chakra-info-color-bold;
				}
			}
		}
		

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-alt;
				color: $white;
				border: 2px solid $chakra-info-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-info-color-alt;
					border: 2px solid $chakra-info-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}

	&.is-style-warning {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-warning-color;
			}
			.alerts-dlx-content p {
				color: $chakra-warning-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-light;
				color: $chakra-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-warning-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-warning-color-bold;
					fill: $chakra-warning-color-bold;
				}
			}
		}
		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-warning-color-bold;
			}

			h2.alerts-dlx-title {
				color: $chakra-warning-color;
			}
			.alerts-dlx-content p {
				color: $chakra-warning-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-light;
				color: $chakra-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-warning-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-warning-color-bold;
					fill: $chakra-warning-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-warning-color-bold;
			}
			
			h2.alerts-dlx-title {
				color: $chakra-warning-color;
			}
			.alerts-dlx-content p {
				color: $chakra-warning-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-light;
				color: $chakra-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-warning-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-warning-color-bold;
					fill: $chakra-warning-color-bold;
				}
			}
		}

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-alt;
				color: $white;
				border: 2px solid $chakra-warning-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-warning-color-alt;
					border: 2px solid $chakra-warning-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}

	&.is-style-error {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-error-color;
			}
			.alerts-dlx-content p {
				color: $chakra-error-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-light;
				color: $chakra-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-error-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-error-color-bold;
					fill: $chakra-error-color-bold;
				}
			}
		}
		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-error-color-bold;
			}
			h2.alerts-dlx-title {
				color: $chakra-error-color;
			}
			.alerts-dlx-content p {
				color: $chakra-error-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-light;
				color: $chakra-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-error-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-error-color-bold;
					fill: $chakra-error-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-error-color-bold;
			}
			h2.alerts-dlx-title {
				color: $chakra-error-color;
			}
			.alerts-dlx-content p {
				color: $chakra-error-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-light;
				color: $chakra-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $chakra-error-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-error-color-bold;
					fill: $chakra-error-color-bold;
				}
			}
		}

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-alt;
				color: $white;
				border: 2px solid $chakra-error-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-error-color-alt;
					border: 2px solid $chakra-error-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}
}
.template-material {
	/* MaterialUI Success */
	.alerts-dlx-material {
		display: grid;
		grid-template-columns: 1fr;
		font-size: var(--alerts-dlx-material-base-size, 16px);
		padding: 16px;
		border-radius: 4px;
		margin: 0 auto;

		&.alerts-dlx-has-icon {
			grid-template-columns: 2.2em 1fr;
			padding-left: 0;
		}

		figcaption h2.alerts-dlx-title {
			font-size: 1em;
			font-weight: 500;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			margin-bottom: 0.35em;
		}
		.alerts-dlx-content p {
			font-size: 1em;
			font-weight: 400;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}
	}

	/* Dropshadows */
	&.is-style-success.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(46, 125, 50, 0.2);
	}
	&.is-style-info.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(2, 119, 189, 0.2);
	}
	&.is-style-warning.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(237, 108, 2, 0.2);
	}
	&.is-style-error.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(211, 47, 47, 0.2);
	}

	&.is-style-success {
		&.is-appearance-default {
			h2.alerts-dlx-title {
				color: $material-success-color;
			}
			.alerts-dlx-content p {
				color: $material-success-color;
			}
			.alerts-dlx-material {
				background-color: $material-success-color-light;
				color: $material-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $material-success-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-success-color-accent;
				}

				svg,
				svg path {
					fill: $material-success-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-success-color;
			}
			.alerts-dlx-content p {
				color: $material-success-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-success-color;
				border: 2px solid $material-success-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-success-color;
					border: 2px solid $material-success-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-success-color-alt;
					color: $white;
					border: 2px solid $material-success-color-alt;
				}

				svg,
				svg path {
					fill: $material-success-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-success-color-alt;
				color: $white;
				border: 2px solid $material-success-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-success-color-alt;
					border: 2px solid $material-success-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-success-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}

	&.is-style-info {
		&.is-appearance-default {
			h2.alerts-dlx-title {
				color: $material-info-color;
			}
			.alerts-dlx-content p {
				color: $material-info-color;
			}
			.alerts-dlx-material {
				background-color: $material-info-color-light;
				color: $material-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $material-info-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-info-color-accent;
				}

				svg,
				svg path {
					fill: $material-info-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-info-color;
			}
			.alerts-dlx-content p {
				color: $material-info-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-info-color;
				border: 2px solid $material-info-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-info-color;
					border: 2px solid $material-info-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-info-color-alt;
					color: $white;
					border: 2px solid $material-info-color-alt;
				}

				svg,
				svg path {
					fill: $material-info-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-info-color-alt;
				color: $white;
				border: 2px solid $material-info-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-info-color-alt;
					border: 2px solid $material-info-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-info-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}

	&.is-style-warning {
		&.is-appearance-default {
			h2.alerts-dlx-title {
				color: $material-warning-color;
			}
			.alerts-dlx-content p {
				color: $material-warning-color;
			}
			.alerts-dlx-material {
				background-color: $material-warning-color-light;
				color: $material-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $material-warning-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-warning-color-accent;
				}

				svg,
				svg path {
					fill: $material-warning-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-warning-color;
			}
			.alerts-dlx-content p {
				color: $material-warning-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-warning-color;
				border: 2px solid $material-warning-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-warning-color;
					border: 2px solid $material-warning-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-warning-color-alt;
					color: $white;
					border: 2px solid $material-warning-color-alt;
				}

				svg,
				svg path {
					fill: $material-warning-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-warning-color-alt;
				color: $white;
				border: 2px solid $material-warning-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-warning-color-alt;
					border: 2px solid $material-warning-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-warning-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}

	&.is-style-error {
		&.is-appearance-default {
			h2.alerts-dlx-title {
				color: $material-error-color;
			}
			.alerts-dlx-content p {
				color: $material-error-color;
			}
			.alerts-dlx-material {
				background-color: $material-error-color-light;
				color: $material-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid $white;

					background-color: $material-error-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-error-color-accent;
				}

				svg,
				svg path {
					fill: $material-error-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-error-color;
			}
			.alerts-dlx-content p {
				color: $material-error-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-error-color;
				border: 2px solid $material-error-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-error-color;
					border: 2px solid $material-error-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-error-color-alt;
					color: $white;
					border: 2px solid $material-error-color-alt;
				}

				svg,
				svg path {
					fill: $material-error-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-error-color-alt;
				color: $white;
				border: 2px solid $material-error-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-error-color-alt;
					border: 2px solid $material-error-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-error-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}
}
