$white: #ffffff;

// Material colors.
$material-success-color: #1e4620;
$material-success-color-accent: #295e2c;
$material-success-color-alt: #2e7d32;
$material-success-color-bold: #4caf50;
$material-success-color-light: #edf7ed;
$material-info-color: #014361;
$material-info-color-accent: #035e88;
$material-info-color-alt: #0277bd;
$material-info-color-bold: #03a9f4;
$material-info-color-light: #e5f6fd;
$material-warning-color: #663c00;
$material-warning-color-accent: #8c5e00;
$material-warning-color-alt: #ed6c02;
$material-warning-color-bold: #ff9800;
$material-warning-color-light: #fff4e5;
$material-error-color: #5f2120;
$material-error-color-accent: #8c2d2b;
$material-error-color-alt: #d32f2f;
$material-error-color-bold: #ef5350;
$material-error-color-light: #fdeded;
// Chakra colors.
$chakra-success-color: #2d3748;
$chakra-success-color-accent: #38a169;
$chakra-success-color-alt: #3dae71;
$chakra-success-color-bold: #38a169;
$chakra-success-color-light: #c6f6d5;
$chakra-info-color: #014361;
$chakra-info-color-accent: #3182ce;
$chakra-info-color-alt: #2d75b8;
$chakra-info-color-bold: #2d76bb;
$chakra-info-color-light: #bee3f8;
$chakra-warning-color: #2d3748;
$chakra-warning-color-accent: #dd6b20;
$chakra-warning-color-alt: #b35719;
$chakra-warning-color-bold: #dd6b20;
$chakra-warning-color-light: #feebc8;
$chakra-error-color: #5f2120;
$chakra-error-color-accent: #a92525;
$chakra-error-color-alt: #d32f2f;
$chakra-error-color-bold: #ef5350;
$chakra-error-color-light: #fed7d7;
// Bootstrap Primary colors.
$bootstrap-primary-color: #084298;
$bootstrap-primary-color-border: #b6d4fe;
$bootstrap-primary-color-accent: #26559c;
$bootstrap-primary-color-alt: #084298;
$bootstrap-primary-color-bold: #084298;
$bootstrap-primary-color-light: #cfe2ff;

// Bootstrap secondary.
$bootstrap-secondary-color: #41464b;
$bootstrap-secondary-color-border: #d3d6d8;
$bootstrap-secondary-color-accent: #5c6874;
$bootstrap-secondary-color-alt: #41464b;
$bootstrap-secondary-color-bold: #41464b;
$bootstrap-secondary-color-light: #e2e3e5;

// Bootstrap Success.
$bootstrap-success-color: #0f5132;
$bootstrap-success-color-border: #badbcc;
$bootstrap-success-color-accent: #167247;
$bootstrap-success-color-alt: #0f5132;
$bootstrap-success-color-bold: #0f5132;
$bootstrap-success-color-light: #d1e7dd;

// Bootstrap Danger.
$bootstrap-danger-color: #842029;
$bootstrap-danger-color-border: #f5c2c7;
$bootstrap-danger-color-accent: #832e35;
$bootstrap-danger-color-alt: #842029;
$bootstrap-danger-color-bold: #842029;
$bootstrap-danger-color-light: #f8d7da;

// Bootstrap Warning
$bootstrap-warning-color: #664d03;
$bootstrap-warning-color-border: #ffecb5;
$bootstrap-warning-color-accent: #7f6002;
$bootstrap-warning-color-alt: #664d03;
$bootstrap-warning-color-bold: #664d03;
$bootstrap-warning-color-light: #fff3cd;

// Bootstrap Info
$bootstrap-info-color: #055160;
$bootstrap-info-color-border: #b6effb;
$bootstrap-info-color-accent: #076c81;
$bootstrap-info-color-alt: #055160;
$bootstrap-info-color-bold: #055160;
$bootstrap-info-color-light: #cff4fc;

// Bootstrap Light
$bootstrap-light-color: #636464;
$bootstrap-light-color-border: #fdfdfe;
$bootstrap-light-color-accent: #7b7c7c;
$bootstrap-light-color-alt: #636464;
$bootstrap-light-color-bold: #636464;
$bootstrap-light-color-light: #fefefe;

// Bootstrap Dark
$bootstrap-dark-color: #141619;
$bootstrap-dark-color-border: #bcbebf;
$bootstrap-dark-color-accent: #292d33;
$bootstrap-dark-color-alt: #141619;
$bootstrap-dark-color-bold: #141619;
$bootstrap-dark-color-light: #d3d3d4;

/* MaterialUI Fonts */
.template-material.custom-fonts-enabled * {
	font-family: var(
		--alerts-dlx-material-font-family,
		'Roboto',
		'Helvetica',
		'Arial',
		sans-serif
	);
}

button.button-reset,
button.button-reset.components-button {
	padding: 0.6em 0.925em;
	border-radius: 0.3125em;
	margin-top: 0.5em;
	line-height: 1.2em;
	font-size: 1em;
	height: auto;

	& ~ .button-reset {
		margin-top: 0.5em;
	}
}

/* Consolidate variants for ChakraUI options */
.alerts-dlx-chakra-variants,
.alerts-dlx-material-variants {
	.components-button-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 8px;
		column-gap: 8px;
		justify-content: center;
		button {
			display: flex;
			justify-content: center;
			width: 100%;
		}
	}
}

.template-chakra {
	/* MaterialUI Success */
	.alerts-dlx-chakra {
		display: grid;
		grid-template-columns: 1fr;
		font-size: var(--alerts-dlx-chakra-base-size, 16px);
		padding: 0.75em 1.25em;
		border-radius: 0px;
		margin: 0 auto;

		&.alerts-dlx-has-icon {
			grid-template-columns: 3.8em 1fr;
			padding-left: 0;
		}

		figcaption h2.alerts-dlx-title {
			font-size: 1.2em;
			font-weight: 500;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			margin-bottom: 0.35em;
		}
		.alerts-dlx-content p {
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}

		button.button-reset,
		button.button-reset.components-button {
			font-size: 1.2em;
		}

		.alerts-dlx-icon-preview svg {
			width: 1.4em;
			height: 1.4em;
		}

		.alerts-dlx-icon {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}
	}

	&.icon-vertical-align-centered {
		.alerts-dlx-icon {
			align-items: center;
		}
	}

	&.is-appearance-centered {
		.alerts-dlx-chakra {
			display: block;
		}
		.alerts-dlx-icon-preview svg {
			width: 1.6em;
			height: 1.6em;
		}

		figcaption {
			text-align: center;
		}

		.alerts-dlx-button-wrapper {
			position: relative;
			flex-wrap: wrap;
			button:first-child {
				width: 100%;
				justify-content: center;
			}
			button:not(:first-child) {
				position: absolute;
				right: -35px;
			}
		}
	}

	&.is-style-success {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-success-color;
			}
			.alerts-dlx-content p {
				color: $chakra-success-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-light;
				color: $chakra-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-success-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-success-color-bold;
					fill: $chakra-success-color-bold;
				}
			}
		}

		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-success-color-bold;
			}
			
			h2.alerts-dlx-title {
				color: $chakra-success-color;
			}
			.alerts-dlx-content p {
				color: $chakra-success-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-light;
				color: $chakra-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-success-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-success-color-bold;
					fill: $chakra-success-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-success-color-bold;
			}
			
			h2.alerts-dlx-title {
				color: $chakra-success-color;
			}
			.alerts-dlx-content p {
				color: $chakra-success-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-light;
				color: $chakra-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-success-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-success-color-bold;
					fill: $chakra-success-color-bold;
				}
			}
		}

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-success-color-alt;
				color: $white;
				border: 2px solid $chakra-success-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-success-color-alt;
					border: 2px solid $chakra-success-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-success-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}

	&.is-style-info {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-info-color;
			}
			.alerts-dlx-content p {
				color: $chakra-info-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-light;
				color: $chakra-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-info-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-info-color-bold;
					fill: $chakra-info-color-bold;
				}
			}
		}

		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-info-color-bold;
			}

			h2.alerts-dlx-title {
				color: $chakra-info-color;
			}
			.alerts-dlx-content p {
				color: $chakra-info-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-light;
				color: $chakra-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-info-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-info-color-bold;
					fill: $chakra-info-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-info-color-bold;
			}

			h2.alerts-dlx-title {
				color: $chakra-info-color;
			}
			.alerts-dlx-content p {
				color: $chakra-info-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-light;
				color: $chakra-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-info-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-info-color-bold;
					fill: $chakra-info-color-bold;
				}
			}
		}
		

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-info-color-alt;
				color: $white;
				border: 2px solid $chakra-info-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-info-color-alt;
					border: 2px solid $chakra-info-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-info-color-alt;
					color: $white;
					border: 2px solid transparent;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}

	&.is-style-warning {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-warning-color;
			}
			.alerts-dlx-content p {
				color: $chakra-warning-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-light;
				color: $chakra-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-warning-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-warning-color-bold;
					fill: $chakra-warning-color-bold;
				}
			}
		}
		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-warning-color-bold;
			}

			h2.alerts-dlx-title {
				color: $chakra-warning-color;
			}
			.alerts-dlx-content p {
				color: $chakra-warning-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-light;
				color: $chakra-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-warning-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-warning-color-bold;
					fill: $chakra-warning-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-warning-color-bold;
			}
			
			h2.alerts-dlx-title {
				color: $chakra-warning-color;
			}
			.alerts-dlx-content p {
				color: $chakra-warning-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-light;
				color: $chakra-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-warning-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-warning-color-bold;
					fill: $chakra-warning-color-bold;
				}
			}
		}

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-warning-color-alt;
				color: $white;
				border: 2px solid $chakra-warning-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-warning-color-alt;
					border: 2px solid $chakra-warning-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-warning-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}

	&.is-style-error {
		&.is-appearance-subtle,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $chakra-error-color;
			}
			.alerts-dlx-content p {
				color: $chakra-error-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-light;
				color: $chakra-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-error-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-error-color-bold;
					fill: $chakra-error-color-bold;
				}
			}
		}
		&.is-appearance-left-accent {
			.alerts-dlx-chakra {
				border-left: 4px solid $chakra-error-color-bold;
			}
			h2.alerts-dlx-title {
				color: $chakra-error-color;
			}
			.alerts-dlx-content p {
				color: $chakra-error-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-light;
				color: $chakra-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-error-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-error-color-bold;
					fill: $chakra-error-color-bold;
				}
			}
		}

		&.is-appearance-top-accent {
			.alerts-dlx-chakra {
				border-top: 4px solid $chakra-error-color-bold;
			}
			h2.alerts-dlx-title {
				color: $chakra-error-color;
			}
			.alerts-dlx-content p {
				color: $chakra-error-color;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-light;
				color: $chakra-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $chakra-error-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $chakra-error-color-bold;
					fill: $chakra-error-color-bold;
				}
			}
		}

		&.is-appearance-solid {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-chakra {
				background-color: $chakra-error-color-alt;
				color: $white;
				border: 2px solid $chakra-error-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $chakra-error-color-alt;
					border: 2px solid $chakra-error-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $chakra-error-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path
				svg g {
					color: $white;
					fill: $white;
				}
			}
		}
	}
}
.template-material {
	/* MaterialUI Success */
	.alerts-dlx-material {
		display: grid;
		grid-template-columns: 1fr;
		font-size: var(--alerts-dlx-material-base-size, 16px);
		padding: 16px;
		border-radius: 4px;
		margin: 0 auto;

		.alerts-dlx-icon-preview svg {
			width: 1.8em;
			height: 1.8em;
		}
		&.alerts-dlx-has-icon {
			grid-template-columns: 3.8em 1fr;
			padding-left: 0;
		}

		figcaption h2.alerts-dlx-title {
			font-size: 1.2em;
			font-weight: 500;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			margin-bottom: 0.35em;
		}
		.alerts-dlx-content p {
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}

		button.button-reset,
		button.button-reset.components-button {
			font-size: 1.2em;
		}

		.alerts-dlx-icon-preview svg {
			width: 1.4em;
			height: 1.4em;
		}

		.alerts-dlx-icon {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}
	}

	&.icon-vertical-align-centered {
		.alerts-dlx-icon {
			align-items: center;
		}
	}

	/* Dropshadows */
	&.is-style-success.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(46, 125, 50, 0.2);
	}
	&.is-style-info.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(2, 119, 189, 0.2);
	}
	&.is-style-warning.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(237, 108, 2, 0.2);
	}
	&.is-style-error.is-dropshadow-enabled.is-appearance-default
		.alerts-dlx-material {
		box-shadow: 1px 1px 5px 1px rgba(211, 47, 47, 0.2);
	}

	&.is-appearance-centered {
		.alerts-dlx-material {
			display: block;
		}
		.alerts-dlx-icon-preview svg {
			width: 1.6em;
			height: 1.6em;
		}

		figcaption {
			text-align: center;
		}

		.alerts-dlx-button-wrapper {
			position: relative;
			flex-wrap: wrap;
			button:first-child {
				width: 100%;
				justify-content: center;
			}
			button:not(:first-child) {
				position: absolute;
				right: -35px;
			}
		}
	}

	&.is-style-success {
		&.is-appearance-default,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $material-success-color;
			}
			.alerts-dlx-content p {
				color: $material-success-color;
			}
			.alerts-dlx-material {
				background-color: $material-success-color-light;
				color: $material-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $material-success-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-success-color-accent;
				}

				svg,
				svg path {
					fill: $material-success-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-success-color;
			}
			.alerts-dlx-content p {
				color: $material-success-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-success-color;
				border: 2px solid $material-success-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-success-color;
					border: 2px solid $material-success-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-success-color-alt;
					color: $white;
					border: 2px solid $material-success-color-alt;
				}

				svg,
				svg path {
					fill: $material-success-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-success-color-alt;
				color: $white;
				border: 2px solid $material-success-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-success-color-alt;
					border: 2px solid $material-success-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-success-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}

	&.is-style-info {
		&.is-appearance-default,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $material-info-color;
			}
			.alerts-dlx-content p {
				color: $material-info-color;
			}
			.alerts-dlx-material {
				background-color: $material-info-color-light;
				color: $material-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $material-info-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-info-color-accent;
				}

				svg,
				svg path {
					fill: $material-info-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-info-color;
			}
			.alerts-dlx-content p {
				color: $material-info-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-info-color;
				border: 2px solid $material-info-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-info-color;
					border: 2px solid $material-info-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-info-color-alt;
					color: $white;
					border: 2px solid $material-info-color-alt;
				}

				svg,
				svg path {
					fill: $material-info-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-info-color-alt;
				color: $white;
				border: 2px solid $material-info-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-info-color-alt;
					border: 2px solid $material-info-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-info-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}

	&.is-style-warning {
		&.is-appearance-default,
		&.is-appearance-centered{
			h2.alerts-dlx-title {
				color: $material-warning-color;
			}
			.alerts-dlx-content p {
				color: $material-warning-color;
			}
			.alerts-dlx-material {
				background-color: $material-warning-color-light;
				color: $material-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $material-warning-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-warning-color-accent;
				}

				svg,
				svg path {
					fill: $material-warning-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-warning-color;
			}
			.alerts-dlx-content p {
				color: $material-warning-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-warning-color;
				border: 2px solid $material-warning-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-warning-color;
					border: 2px solid $material-warning-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-warning-color-alt;
					color: $white;
					border: 2px solid $material-warning-color-alt;
				}

				svg,
				svg path {
					fill: $material-warning-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-warning-color-alt;
				color: $white;
				border: 2px solid $material-warning-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-warning-color-alt;
					border: 2px solid $material-warning-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-warning-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}

	&.is-style-error {
		&.is-appearance-default,
		&.is-appearance-centered {
			h2.alerts-dlx-title {
				color: $material-error-color;
			}
			.alerts-dlx-content p {
				color: $material-error-color;
			}
			.alerts-dlx-material {
				background-color: $material-error-color-light;
				color: $material-error-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $material-error-color;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-error-color-accent;
				}

				svg,
				svg path {
					fill: $material-error-color-bold;
				}
			}
		}
		&.is-appearance-outlined {
			h2.alerts-dlx-title {
				color: $material-error-color;
			}
			.alerts-dlx-content p {
				color: $material-error-color;
			}
			.alerts-dlx-material {
				background-color: $white;
				color: $material-error-color;
				border: 2px solid $material-error-color-bold;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-error-color;
					border: 2px solid $material-error-color-bold;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-error-color-alt;
					color: $white;
					border: 2px solid $material-error-color-alt;
				}

				svg,
				svg path {
					fill: $material-error-color-bold;
				}
			}
		}

		&.is-appearance-filled {
			h2.alerts-dlx-title {
				color: $white;
			}
			.alerts-dlx-content p {
				color: $white;
			}
			.alerts-dlx-material {
				background-color: $material-error-color-alt;
				color: $white;
				border: 2px solid $material-error-color-alt;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $material-error-color-alt;
					border: 2px solid $material-error-color-alt;
					background-color: $white;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $material-error-color-alt;
					color: $white;
					border: 2px solid $white;
				}

				svg,
				svg path {
					fill: $white;
				}
			}
		}
	}
}
.template-bootstrap {
	/* MaterialUI Success */
	.alerts-dlx-bootstrap {
		display: grid;
		grid-template-columns: 1fr;
		font-size: var(--alerts-dlx-bootstrap-base-size, 16px);
		padding: 0.75em 1.25em;
		border-radius: 0.25em;
		margin: 0 auto;
		border: 1px solid transparent;

		&.alerts-dlx-has-icon {
			grid-template-columns: 3.8em 1fr;
			padding-left: 0;
		}

		figcaption h2.alerts-dlx-title {
			font-size: 1.2em;
			font-weight: 500;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			margin-bottom: 0.35em;
		}
		.alerts-dlx-content p {
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}

		button.button-reset,
		button.button-reset.components-button {
			font-size: 1.2em;
		}

		.alerts-dlx-icon-preview svg {
			width: 1.6em;
			height: 1.6em;
		}

		.alerts-dlx-icon {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}
	}

	&.icon-vertical-align-centered {
		.alerts-dlx-icon {
			align-items: center;
		}
	}

	&.is-appearance-centered {
		.alerts-dlx-bootstrap {
			display: block;
		}
		.alerts-dlx-icon-preview svg {
			width: 1.6em;
			height: 1.6em;
		}

		figcaption {
			text-align: center;
		}

		.alerts-dlx-button-wrapper {
			position: relative;
			flex-wrap: wrap;
			button:first-child {
				width: 100%;
				justify-content: center;
			}
			button:not(:first-child) {
				position: absolute;
				right: -35px;
			}
		}
	}

	&.is-style-primary {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-primary-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-primary-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-primary-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-primary-color-light;
				color: $bootstrap-primary-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-primary-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-primary-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-primary-color-bold;
					fill: $bootstrap-primary-color-bold;
				}
			}
		}
	}

	&.is-style-secondary {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-secondary-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-secondary-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-secondary-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-secondary-color-light;
				color: $bootstrap-secondary-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-secondary-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-secondary-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-secondary-color-bold;
					fill: $bootstrap-secondary-color-bold;
				}
			}
		}
	}

	&.is-style-success {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-success-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-success-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-success-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-success-color-light;
				color: $bootstrap-success-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-success-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-success-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-success-color-bold;
					fill: $bootstrap-success-color-bold;
				}
			}
		}
	}

	&.is-style-danger {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-danger-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-danger-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-danger-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-danger-color-light;
				color: $bootstrap-danger-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-danger-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-danger-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-danger-color-bold;
					fill: $bootstrap-danger-color-bold;
				}
			}
		}
	}

	&.is-style-warning {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-warning-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-warning-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-warning-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-warning-color-light;
				color: $bootstrap-warning-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-warning-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-warning-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-warning-color-bold;
					fill: $bootstrap-warning-color-bold;
				}
			}
		}
	}

	&.is-style-info {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-info-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-info-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-info-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-info-color-light;
				color: $bootstrap-info-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-info-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-info-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-info-color-bold;
					fill: $bootstrap-info-color-bold;
				}
			}
		}
	}

	&.is-style-light {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-light-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-light-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-light-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-light-color-light;
				color: $bootstrap-light-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-light-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-light-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-light-color-bold;
					fill: $bootstrap-light-color-bold;
				}
			}
		}
	}

	&.is-style-dark {
		&.is-appearance-default,
		&.is-appearance-centered {
			.alerts-dlx-bootstrap {
				border-color: $bootstrap-dark-color-border;
			}
			h2.alerts-dlx-title {
				color: $bootstrap-dark-color;
			}
			.alerts-dlx-content p {
				color: $bootstrap-dark-color;
			}
			.alerts-dlx-bootstrap {
				background-color: $bootstrap-dark-color-light;
				color: $bootstrap-dark-color;

				button.button-reset.alerts-dlx-button,
				button.button-reset.alerts-dlx-button:hover {
					color: $white;
					border: 1px solid transparent;

					background-color: $bootstrap-dark-color-alt;
				}
				button.button-reset.alerts-dlx-button:hover {
					background-color: $bootstrap-dark-color-accent;
				}

				svg,
				svg path
				svg g {
					color: $bootstrap-dark-color-bold;
					fill: $bootstrap-dark-color-bold;
				}
			}
		}
	}
}